#include "/home/nuxster/.Xresources-regolith"

*background:#171717
*foreground:#b3b4b1
*color0:    #1d1d1d
*color1:    #784742
*color2:    #427363
*color3:    #665847
*color4:    #6a708b
*color5:    #7a378b
*color6:    #52707b
*color7:    #b3b3b3

*color8:    #4c4c4c
*color9:    #784742
*color10:   #cef318
*color11:   #ede265
*color12:   #6ac0fd
*color13:   #ef79ae
*color14:   #49d4dd
*color15:   #ffffff

URxvt*font:                 xft:Menlo for Powerline:regular:size=10
URxvt*imFont:               xft:Menlo for Powerline:regular:size=10
URxvt*boldFont:             xft:Menlo for Powerline:bold:size=10
URxvt*italicFont:           xft:Menlo for Powerline:italic:size=10
URxvt*boldItalicFont:       xft:Menlo for Powerline:bold:italic:size=10

